@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Common code
  3. Header
    3.1. Navigation
  4. Main (Index/Home page)
    4.1. Main banner
      4.1.1 weather card
    4.2. Live camera
    4.3. List of content
    4.4. Features
  5. Main (Photos page)
    5.1  Main bar
    5.2  Gallery 
  6. Footer 
  7. Media querries
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
/* html { overflow-y: scroll; } */

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: "Futura Bold", "Gill Sans", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   2. Common Code
   ========================================================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* { 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper {
  max-width: 2000px;
  padding: 0 10.363%;
  margin: auto;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.4s;
}

ul { list-style: none; }

body {
  background: #1e202b;
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  line-height: normal;
}

/* ==========================================================================
   3. Header
   ========================================================================== */

header {
  width: 100%;
  padding: 47px 0;
  background-color: #1e202b;
}

header .logo { float: left; }

header .logoImage {
  margin-right: 9px;
  display: inline-block;
  vertical-align: middle;
}

header img { width: 60px; }

header .logoText {
  display: inline-block;
  vertical-align: middle;
}

header h1 {
  margin-bottom: 4px;
  font-size: 15px;
  color: #fff;
}

header h1::first-letter {
  display: none;
  text-transform: uppercase;
}

header span {
  display: block;
  color: #bfc1c8;
  font-size: 9.6px;
}

/* 3.1. Navigation
   ========================================================================== */
.hamburger{ display: none; }
header nav { float: right; }

header nav li {
  margin-left: 6.5px;
  display: inline-block;
}

header nav a {
  padding: 4.8px 23px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: #fff;
  font-size: 13.2px;
  font-weight: 400;
  text-transform: capitalize;
}

header nav a[title~="live"] { text-transform: none; }

header nav a:hover,
header .active {
  border: 2px solid #009ad8;
  color: #009ad8;
}

/* ==========================================================================
   4. Main (Index/Home page)
   ========================================================================== */


/* 4.1. Main banner
   ========================================================================== */

.main-banner {
  width: 100%;
  height: 330px;
  padding: 66px 0px;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-banner form {
  margin-bottom: 70px;
  position: relative;
}

.main-banner form input {
  padding: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
}

.main-banner form input::-webkit-input-placeholder { font-weight: 500; }
.main-banner form input::-moz-placeholder { font-weight: 500; }
.main-banner form input:-ms-input-placeholder { font-weight: 500; }
.main-banner form input::-ms-input-placeholder { font-weight: 500; }
.main-banner form input::placeholder { font-weight: 500; }

.main-banner input[type~="text"] {
  width: 100%;
  padding: 17px 48px 17px 17px;
  border: 2px solid #1e202b;
  background: #1e202b;
  color: #fff;
  letter-spacing: -0.07px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.main-banner input[type~="submit"] {
  padding: 0px 38px;
  position: absolute;
  top: 4.5px;
  right: 5px;
  bottom: 5px;
  background-color: #009ad8;
  color: #fff;
  letter-spacing: -0.5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.main-banner form:hover input[type~="text"] {
  border: 2px solid #009ad8;
  background: #292d3c;
}

.main-banner input[type~="submit"]:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.errorMsg,
.errorMsgEmail {
  position: absolute;
  left: 2%;
  top: 100%;
  color: #ffb8b8;
  font-weight: 500;
}

/* 4.1.1. Weather card
   ========================================================================== */

.weather-card {
  width: 49.95%;
  margin: auto;
  background: #323544;
  border-radius: 10px;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.weather-fade { opacity: 0.6; }

.weather-head {
  padding: 10px 10px;
  border-radius: 10px 10px 0px 0px;
  font-weight: 500;
  background-color: #2e303e;
}

.day {
  float: left;
  font-size: 13px;
}

.date {
  float: right;
  font-size: 13px;
}

.weather-body {
  padding: 28px 18px;
  text-align: left;
}

.location {
  font-size: 17.2px;
  font-weight: 400;
}

.degree {
  color: #fff;
  font-weight: 700;
}

.num {
  margin-right: 30px;
  font-size: 85px;
}

.num sup {
  top: -33px;
  font-size: 65px;
}

.weather-image {
  height: 50px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: text-bottom;
}

.weather-image img { width: 85px; }

.weather-details {
  margin-right: 18px;
  font-size: 13.7px;
  font-weight: 400;
  opacity: 0.8;
}

.weather-details img {
  width: 20px;
  margin-right: 4px;
  vertical-align: middle;
}

/* 4.2. Live camera
   ========================================================================== */

.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #00160099;
  overflow: hidden;
}

.modalToggle { display: block; }

.modal-content {
  max-width: 120vh;
  padding: 20px;
  border-radius: 20px;
  margin: 40px auto;
  background: #323544;
}

.modal-scroll {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #00106e33;
  overflow: auto;
}

.close {
  margin: -20px 10px 0px 0px;
  float: right;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.close:hover {
  color: #0080b3;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

video { width: 100%; }
.myImg { width: 100%; }
.modalOpen { overflow-y: hidden; }
.body { overflow: hidden; }
.live-camera { padding: 238px 0px 96.5px; }

.live-camera h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 34px;
  font-weight: 300;
}

.live-camera h2::first-letter { text-transform: capitalize; }

.camera-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.camera-coloumn { width: 23%; }

.live-camera figure {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.live-camera-cover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.live-camera figure img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
}

.live-camera figure::after {
  content: " ";
  width: 45px;
  height: 45px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../images/play-button.png);
}

.camera-location {
  margin-bottom: 8px;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
}

.camera-date {
  display: block;
  font-size: 10.5px;
}

/* 4.3. List of content
   ========================================================================== */

.list-of-content {
  padding: 66px 0;
  background-color: #272937;
}

.list-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-content-coloumn { width: 31.6%; }

.list-of-content article {
  padding-left: 96px;
  position: relative;
}

.list-content-number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 23px;
}

.list-of-content h3 {
  margin: 0 0 20px;
  font-size: 13.1px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.list-of-content p {
  font-size: 13.1px;
  font-weight: 300;
  line-height: 1.53;
}

.list-of-content a { color: #fff; }
.list-content-number a { color: #009ad8; }

.list-of-content a:hover {
  color: #009ad8;
  -webkit-transform: scale(4.1);
  -ms-transform: scale(4.1);
  transform: scale(4.1);
}

.list-of-content .list-arrow { display: block; }

.list-of-content span img {
  width: 11px;
  margin-top: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.list-of-content span img:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
